@page
@model RegisterParishModel
@{
    ViewData["Title"] = "Register parish";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="checkbox" id="termsCheckBox" onclick="terms_changed(this)" />  Akceptuję Politykę Prywatności [wymagane]
            </div>
            <button id="registerSubmit" Disabled type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <script>
                //JavaScript function that enables or disables a submit button depending
                //on whether a checkbox has been ticked or not.
                function terms_changed(termsCheckBox) {
                    //If the checkbox has been checked
                    if (termsCheckBox.checked) {
                        //Set the disabled property to FALSE and enable the button.
                        document.getElementById("registerSubmit").disabled = false;
                    } else {
                        //Otherwise, disable the submit button.
                        document.getElementById("registerSubmit").disabled = true;
                    }
                }
            </script>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
