@{
    ViewData["Title"] = "Home Page";
}


    <img src="~/preacher home page.jpg" width="1024" height="683">
<p><font size="+3">With God everything is possible.</font></p>
<font size="+2">
<p>Our system revolutionizes managing prayer intentions. Join the revolution and register for FREE today.</p>
</font>
<h6 class="display-6">Key features:</h6>
<font size="+2">
<ul>
    <li>
        easy intentions management using built-in calendar
            <img src="~/calendar.jpg">
    </li>
    <li>
        find a mass and add your intention to it
            <img src="~/mass.jpg" width="300" height="300">
    </li>
    <li>
        paid intention is now awaiting verification by a parish
            <img src="~/verification.jpg">
    </li>
    <li>
        100% warranty on data and system security.
            <img src="~/security.jpg" width="600" height="300">
    </li>
    <li>
        Focus less on administration, develop a relationship with God.
            <img src="~/grow.webp">
    </li>
 </font>
</ul>


