@{
    ViewData["Title"] = "Polityka prywatności oraz informacje o przetwarzanie danych osobowych";
}
<h2>@ViewData["Title"]</h2>

<p>
    <hr>
    <h3>
        <FONT COLOR="964b00">
        Informacje ogólne
        </FONT>
    </h3>
    <hr>
</p>
<p>
    <h6>       
        Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez Użytkowników w związku z korzystaniem przez nich usług poprzez Serwis:          
    </h6>
</p>
<p>
    1. Administratorem danych osobowych zawartych w serwisie jest Marcin Knyć.
</p>
<p>
    2. W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia, które mają zapobiec udostępnieniu danych osobom nieupoważnionym. Kontrolujemy ich wykonywanie i stale sprawdzamy ich zgodność z odpowiednimi aktami prawnymi - ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego.
</p>
<p>
    3. Dane Osobowe przetwarzane są na podstawie zgody wyrażanej przez Użytkownika oraz w przypadkach, w których przepisy prawa upoważniają Administratora do przetwarzania danych osobowych na podstawie przepisów prawa lub w celu realizacji zawartej pomiędzy stronami umowy.
</p>
<p>
    4. Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach w następujący sposób:
    <ul>
        <li>
    poprzez dobrowolnie wprowadzone w formularzach informacje
        </li>
        <li>
    poprzez gromadzenie plików “cookies” [patrz polityka plików “cookies”].
        </li>
    </ul>
</p>
<p>
    5. Serwis zbiera informacje dobrowolnie podane przez użytkownika.
</p>
<p>
    6. Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza np. w celu dokonania procesu obsługi kontaktu informacyjnego.
</p>
<p>
    7. Dane zebrane przez gromadzenie plików "cookies" będą analizowane w celu rozwoju Serwisu.<br>
</p>
<p>
    8. Dane osobowe pozostawione w serwisie nie zostaną sprzedane ani udostępnione osobom trzecim, zgodnie z przepisami Ustawy o ochronie danych osobowych.
</p>
<p>
    9. Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam umieściła. Osoba ta ma również praw do modyfikacji i zaprzestania przetwarzania swoich danych w dowolnym momencie.<br>
</p>
<p>
    10. Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które może wpłynąć rozwój technologii internetowej, ewentualne zmiany prawa w zakresie ochrony danych osobowych oraz rozwój naszego serwisu internetowego. O wszelkich zmianach będziemy informować w sposób widoczny i zrozumiały.<br>
</p>
<p>
    11. W Serwisie mogą pojawiać się linki do innych stron internetowych. Takie strony internetowe działają niezależnie od Serwisu i nie są w żaden sposób nadzorowane przez serwis. Strony te mogą posiadać własne polityki dotyczące prywatności oraz regulaminy, z którymi zalecamy się zapoznać.<br>
    W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności jesteśmy do dyspozycji - nasze dane znaleźć można w zakładce - KONTAKT.<br>
</p>

