@{
    ViewData["Title"] = "Zgoda na przetwarzanie danych osobowych";
}
<h1>@ViewData["Title"]</h1>

<p>
    Wyrażam zgodę na przetwarzanie moich danych osobowych w zakresie:

    Przechowywanie danych osobowych i logowania danych dot. aktywności fizycznej, danych dotyczących używania Serwisu

    przez użytkownika

    w celu świadczenia usług przez Serwis oraz rozwoju Serwisu.

    Informujemy, że Państwa zgoda może zostać cofnięta w dowolnym momencie przez wysłanie wiadomości e-mail na adres naszej firmy spod adresu, którego zgoda dotyczy.
</p>
